@charset "utf-8";
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; }

#wrap{width: 100%; }
#wrap>#header{width: 100%; height: 81px; background: white; position: fixed; top: 0; left: 0; border-bottom: 1px solid #cdcdcd; z-index: 15;}
#wrap>#header>.headerinner{width: 1384px; height: 81px;  margin: 0 auto; position: relative; }
#wrap>#header>.headerinner>.left{width: 580px; height: 40px; margin-top: 20px; float: left; }
#wrap>#header>.headerinner>.left>li{float: left; margin-right: 20px;}
#wrap>#header>.headerinner>.left>.icon1_line{position: relative; }
#wrap>#header>.headerinner>.left>.icon1_line::after{content: ""; width: 1px; height: 16px; background: #cacaca; position: absolute; top: 11px; left: 25px;}
#wrap>#header>.headerinner>.left>li>a{display: block; line-height: 40px; color: #111; font-size: 16px; font-weight: bold;}
#wrap>#header>.headerinner>.left>.pinktext>a{color: #ee137b;}
#wrap>#header>.headerinner>.center{width: 180px; margin: 0 auto;}
#wrap>#header>.headerinner>.center>li{float: left;  margin-top: 20px; }
#wrap>#header>.headerinner>.center>li:nth-child(1){margin-left: 30px;}
#wrap>#header>.headerinner>.center>li:nth-child(5){background: #cdcdcd; width: 33px; height: 41px;}
#wrap>#header>.headerinner>.right{width: 490px; height: 40px;position: absolute; top:20px; right: 0;}             
#wrap>#header>.headerinner>.right>li{float: left;margin-right: 5px;}
#wrap>#header>.headerinner>.right>li>a{line-height: 40px; font-size: 14px; font-weight: 400 !important; color: #666; }
#wrap>#header>.headerinner>.right>.pinktext1>a{color: #ee137b;}
#wrap>#header>.headerinner>.right>.blacktext>a{font-weight: 700 !important;}
.login{margin-left: 5px; width: 53px; height: 28px;}
.login>a{color: #666; border: 1px solid #cacaca; border-radius: 1px; padding: 3px 2px; font-size: 12px;}

#content{z-index: 14;}
#content>.content1{width: 100%; }
#content>.content1>.content1_inner{width: 1384px; height: 367px; margin:0 auto; padding: 100px 0; }
#content>.content1>.content1_inner>.content{background: url(../img/21115227.png) no-repeat; width: 100%; height: 258px; margin-top: 50px; position: relative;}
#content>.content1>.content1_inner>.content>.center{width: 111px; height: 327px; margin: 0 auto;}
#content>.content1>.content1_inner>.content>.center>li{width: 111px; height: 111px;border: skyblue 1px solid; text-align: center; line-height: 109px;} 
#content>.content1>.content1_inner>.content>.center>li:nth-child(1){box-shadow: 0 0 15px rgb(0 0 0 / 15%);} 
#content>.content1>.content1_inner>.content>.center>li:nth-child(2):hover{box-shadow: 0 0 15px rgb(0 0 0 / 15%);} 
#content>.content1>.content1_inner>.content>.center>li:nth-child(2):hover>a{color: #232469;} 
#content>.content1>.content1_inner>.content>.center>li:nth-child(3):hover{box-shadow: 0 0 15px rgb(0 0 0 / 15%);} 
#content>.content1>.content1_inner>.content>.center>li:nth-child(3):hover>a{color: #232469;}
#content>.content1>.content1_inner>.content>.center>li>a{color:#ccc; font-size: 17px; font-weight: bold;}
#content>.content1>.content1_inner>.content>.center>li:nth-child(1)>a{color:#232469; background: #fff !important;}
#content>.content1>.content1_inner>h1{font-size: 18px; width: 496px; height: 54px; border: 3px solid #ee137b; padding: 0 12px 0 24px; margin-top: 20px; line-height: 54px; font-weight: bold; color: #666; position: relative;}
#content>.content1>.content1_inner>h1::after{content: ""; background: url(../img/btn-total-search2.png) no-repeat; float:right; width: 24px; height: 24px;  position: absolute; top: 15px; right: 25px;}
#content>.content1>.content1_inner>.content>.right{width: 565px; height: 284px; float: right; position: absolute; top: 0; right: 0;}
#content>.content1>.content1_inner>.content>.right>li{width: 113px; height: 123px; float: left; text-align: center; position: relative;}
#content>.content1>.content1_inner>.content>.right>li>a{width: 113px; height: 123px; line-height: 230px; color: #333; font-size: 16px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(6){margin-top: 30px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(7){margin-top: 30px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(8){margin-top: 30px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(9){margin-top: 30px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(10){margin-top: 30px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(1)>a::before{content: ""; background: url(../img/main-category1-menu1.png) no-repeat; width: 85px; height: 83px; position: absolute; top: 15px; left: 13px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(2)>a::before{content: ""; background: url(../img/main-category1-menu2.png) no-repeat; width: 85px; height: 83px; position: absolute; top: 15px; left: 13px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(3)>a::before{content: ""; background: url(../img/main-category1-menu3.png) no-repeat; width: 85px; height: 83px; position: absolute; top: 15px; left: 13px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(4)>a::before{content: ""; background: url(../img/main-category1-menu4.png) no-repeat; width: 85px; height: 83px; position: absolute; top: 15px; left: 13px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(5)>a::before{content: ""; background: url(../img/main-category1-menu5.png) no-repeat; width: 85px; height: 83px; position: absolute; top: 15px; left: 13px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(6)>a::before{content: ""; background: url(../img/main-category1-menu6.png) no-repeat; width: 85px; height: 83px; position: absolute; top: 15px; left: 13px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(7)>a::before{content: ""; background: url(../img/main-category1-menu7.png) no-repeat; width: 85px; height: 83px; position: absolute; top: 15px; left: 13px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(8)>a::before{content: ""; background: url(../img/main-category1-menu12.png) no-repeat; width: 85px; height: 83px; position: absolute; top: 15px; left: 13px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(9)>a::before{content: ""; background: url(../img/main-category1-menu11.png) no-repeat; width: 85px; height: 83px; position: absolute; top: 15px; left: 13px;}
#content>.content1>.content1_inner>.content>.right>li:nth-child(10)>a::before{content: ""; background: url(../img/main-category1-menu8.png) no-repeat; width: 85px; height: 83px; position: absolute; top: 15px; left: 13px;}

#content>.content1>.content1_inner>.content>.more_link{float: right;}
#content>.content1>.content1_inner>.content>.more_link>a{color: #999; font-size: 14px; padding: 0 5px 0 0;}
#content>.content1>.content1_inner>.content>.more_link>a::after{content: ""; width: 19px; height: 19px; background: url(../img/icon-circle-arrow.png) no-repeat; float: right;}

#content>.content2{width: 100%; height: 100px; background: #e6367e;}
#content>.content2>ul{margin: 0 auto; width: 1407px;}
#content>.content2>ul>li{float:left; width: 176px; height: 100px; text-align: center; line-height: 120px; position: relative;}
#content>.content2>ul>li:nth-child(1){width: 210px; height: 100px;}
#content>.content2>ul>li:nth-child(7){width: 210px; height: 100px;}
#content>.content2>ul>li:nth-child(1)::after{content: ""; width: 1px; height: 50px; background: #ffffff33; float: right; position: absolute; top: 25px; right: 0; }
#content>.content2>ul>li:nth-child(2)::after{content: ""; width: 1px; height: 50px; background: #ffffff33; float: right; position: absolute; top: 25px; right: 0; }
#content>.content2>ul>li:nth-child(3)::after{content: ""; width: 1px; height: 50px; background: #ffffff33; float: right; position: absolute; top: 25px; right: 0; }
#content>.content2>ul>li:nth-child(4)::after{content: ""; width: 1px; height: 50px; background: #ffffff33; float: right; position: absolute; top: 25px; right: 0; }
#content>.content2>ul>li:nth-child(5)::after{content: ""; width: 1px; height: 50px; background: #ffffff33; float: right; position: absolute; top: 25px; right: 0; }
#content>.content2>ul>li>a{color: #fff; font-size: 16px;}
#content>.content2>ul>li:nth-child(2)>a::before{content: ""; width: 40px; height: 36px; background:url(../img/icon-guick-menu1-1.png) no-repeat; position: absolute; top: 15px; left: 68px;}
#content>.content2>ul>li:nth-child(3)>a::before{content: ""; width: 40px; height: 36px; background:url(../img/icon-guick-menu1-2.png) no-repeat; position: absolute; top: 15px; left: 68px;}
#content>.content2>ul>li:nth-child(4)>a::before{content: ""; width: 40px; height: 36px; background:url(../img/icon-guick-menu1-3.png) no-repeat; position: absolute; top: 15px; left: 68px;}
#content>.content2>ul>li:nth-child(5)>a::before{content: ""; width: 40px; height: 36px; background:url(../img/icon-guick-menu1-4.png) no-repeat; position: absolute; top: 15px; left: 68px;}
#content>.content2>ul>li:nth-child(6)>a::before{content: ""; width: 40px; height: 36px; background:url(../img/icon-guick-menu1-4.png) no-repeat; position: absolute; top: 15px; left: 68px;}
#content>.content2>ul>li:nth-child(1)>a{font-size: 20px; color: #fff;}
#content>.content2>ul>li:nth-child(7)>a{font-size: 20px; color: #ffffff80;}

#content>.content3{width: 1384px; height: 540px; background: #fde7f2; margin: 80px auto; position: relative;}
#content>.content3>.img::before{content: ""; width: 631px; height: 416px; background: url(../img/main-simul-investment-banner1.png) no-repeat; float: left; position: absolute; top: 65px; left: 60px;}
#content>.content3>.text1>h1{font-size: 40px; font-weight: bold;float: right; margin-right: 260px; margin-top: 70px;}
#content>.content3>.text1>p{font-size: 16px; position: absolute; top: 150px; right: 83px;}

#content>.content3>.text2{width: 475px; height: 134px; position: absolute; top: 220px; right: 135px;}
#content>.content3>.text2::before{content: ""; width: 475px; height: 2px; background: #d0d0d0;float: left; margin-bottom: 20px;}
#content>.content3>.text2>p{color: #111; font-size: 16px;font-weight: bold;}
#content>.content3>.text2>ul>li{float: left; width: 116px; height: 40px; border: #fbd5e6 solid 1px; background: #fbd5e6; border-radius: 50px; line-height: 40px; text-align: right; margin-right: 10px; margin-top: 15px;}
#content>.content3>.text2>ul>li:nth-child(3){ width: 147px; height: 40px;}
#content>.content3>.text2>ul>li>a{margin-right: 15px; position: relative;}
#content>.content3>.text2>ul>li:nth-child(1)>a::before{content: "진행중"; color: #e6367e; background: #fde7f2; border-radius: 50%; width: 30px; height: 30px; font-size: 10px; display: block; position: absolute; line-height: 30px; top: -5px; left: -40px;}
#content>.content3>.text2>ul>li:nth-child(2)>a::before{content: "진행중"; color: #e6367e; background: #fde7f2; border-radius: 50%; width: 30px; height: 30px; font-size: 10px; display: block; position: absolute; line-height: 30px; top: -5px; left: -40px;}
#content>.content3>.text2>ul>li:nth-child(3)>a::before{content: "진행중"; color: #e6367e; background: #fde7f2; border-radius: 50%; width: 30px; height: 30px; font-size: 10px; display: block; position: absolute; line-height: 30px; top: -5px; left: -40px;}

#content>.content3>.text3{width: 475px; height: 134px; position: absolute; top: 350px; right: 135px;}
#content>.content3>.text3::before{content: ""; width: 475px; height: 2px; background: #d0d0d0;float: left; margin-bottom: 20px;}
#content>.content3>.text3>p{color: #111; font-size: 16px;font-weight: bold;}

#content>.content3>.text4{width: 475px; height: 134px; position: absolute; top: 430px; right: 135px;}
#content>.content3>.text4::before{content: ""; width: 475px; height: 2px; background: #d0d0d0;float: left; margin-bottom: 20px;}
#content>.content3>.text4>p{color: #111; font-size: 16px;font-weight: bold;}

#content>.content4{width: 1384px; height: 670px; background: #e3f0ff;margin: 0 auto;padding: 50px 0;}
#content>.content4>.top{text-align: center;}
#content>.content4>.top>h1{color: #111; font-size: 40px;}
#content>.content4>.top>p{color: #111; font-size: 16px; margin-top: 20px;}
#content>.content4>.left{width: 365px; height: 450px; background: #fff;float: left;margin-left: 90px;margin-top: 30px; text-align: center; padding: 24px 0; position: relative;}
#content>.content4>.left::after{content: ""; width: 282px; height: 188px; background: url(../img/main-banner-channelk.png) no-repeat; float: left; position: absolute; top: 80px; left: 42px;}
#content>.content4>.left>strong{font-size: 18px; color: #111; border-bottom: 2px solid #111;}
#content>.content4>.left>.text{margin-top:  240px;}
#content>.content4>.left>.text>li:nth-child(2){margin-top: 120px; margin-left:121px;}
#content>.content4>.left>.text>li>a{font-size: 16px; color: #111;}
#content>.content4>.left>.text>li:nth-child(2)>a{display: block; width: 120px; height: 40px; background: #181949; border-radius: 40px; line-height: 40px; color: #fff;}

#content>.content4>.center{width: 365px; height: 450px; background: #fff; float: left;margin-left: 50px;margin-top: 30px; text-align: center; padding: 24px 0; position: relative;}
#content>.content4>.center>strong{font-size: 18px; color: #111; border-bottom: 2px solid #111;}
#content>.content4>.center>ul{text-align: justify; margin-left: 30px; margin-top: 35px;}
#content>.content4>.center>ul>li{width: 295px; height: 54px; border-bottom: 1px solid #d0d0d0; line-height: 54px;}
#content>.content4>.center>ul>li:nth-child(6){border: none;}
#content>.content4>.center>ul>li>a{color: #666; font-size: 16px;}
#content>.content4>.center>ul>li>a>span{font-size: 14px; color: #1f1f21;}
#content>.content4>.center>ul>li:nth-child(1)>a>span{margin-left: 31px;}
#content>.content4>.center>ul>li:nth-child(2)>a>span{margin-left: 8px;}
#content>.content4>.center>ul>li:nth-child(4)>a>span{margin-left: 14px;}
#content>.content4>.center>ul>li:nth-child(5)>a>span{margin-left: 42px;}
#content>.content4>.center>ul>li:nth-child(6){margin-left: 88px; margin-top: 70px;}
#content>.content4>.center>ul>li:nth-child(6)>a{display: block; width: 120px; height: 40px; background: #181949; border-radius: 40px; line-height: 40px; color: #fff; text-align: center;}

#content>.content4>.right{width: 365px; height: 450px; background: #fff; float: left;margin-left: 50px;margin-top: 30px; text-align: center; padding: 24px 0; position: relative;}
#content>.content4>.right>strong{font-size: 18px; color: #111; border-bottom: 2px solid #111;}
#content>.content4>.right>ul{text-align: justify; margin-left: 30px; margin-top: 35px;}
#content>.content4>.right>ul>li{width: 295px; height: 54px; border-bottom: 1px solid #d0d0d0; line-height: 54px;}
#content>.content4>.right>ul>li:nth-child(6){border: none;}
#content>.content4>.right>ul>li>a{color: #666; font-size: 16px;}
#content>.content4>.right>ul>li>a>span{font-size: 14px; color: #1f1f21;}
#content>.content4>.right>ul>li:nth-child(1)>a>span{margin-left: 72px;}
#content>.content4>.right>ul>li:nth-child(2)>a>span{margin-left: 17px;}
#content>.content4>.right>ul>li:nth-child(3)>a>span{margin-left: 21px;}
#content>.content4>.right>ul>li:nth-child(4)>a>span{margin-left: 71px;}
#content>.content4>.right>ul>li:nth-child(5)>a>span{margin-left: 14px;}
#content>.content4>.right>ul>li:nth-child(6){margin-left: 88px; margin-top: 70px;}
#content>.content4>.right>ul>li:nth-child(6)>a{display: block; width: 120px; height: 40px; background: #181949; border-radius: 40px; line-height: 40px; color: #fff; text-align: center;}

#content>.content5{background-color:rgb(255, 249, 232); width: 100%; height: 550px; margin-top: 70px;}
#content>.content5>img{display: block; width: 1384px; height: 550px; margin: 0 auto;}

#footer{width: 100%;}
#footer>.footertop{width: 100%; height: 262px; border-top: #999 1px solid;}
#footer>.footertop>.footertop_inner{width: 1384px; height: 207px; margin:40px auto 35px;}
#footer>.footertop>.footertop_inner>.right{width: 473px; height: 207px; float: left;}
#footer>.footertop>.footertop_inner>.right>h1{font-size: 16px;}
#footer>.footertop>.footertop_inner>.right>ul>li{float: left; margin: 9px 0 0 0;  position: relative; width: 156px; height: 22px; }
#footer>.footertop>.footertop_inner>.right>ul>li::before{content: ""; background: #777; width: 3px; height: 3px; float: left; position: absolute; top: 11px; left: 0;}
#footer>.footertop>.footertop_inner>.right>ul>li>a{color: #777; font-size: 14px; padding: 0 10px 0 10px;}

#footer>.footertop>.footertop_inner>.center1{width: 218px; height: 207px; float: left;}
#footer>.footertop>.footertop_inner>.center1::before{content: ""; width: 1px; height: 183px; background:#ddd; float: left; margin-right: 25px;}
#footer>.footertop>.footertop_inner>.center1>h1{font-size: 16px; padding: 0 10px 0 10px; }
#footer>.footertop>.footertop_inner>.center1>ul>li{margin: 9px 0 0 0;}
#footer>.footertop>.footertop_inner>.center1>ul>li>a{color: #777; font-size: 14px;}

#footer>.footertop>.footertop_inner>.center2{width: 218px; height: 207px; float: left;}
#footer>.footertop>.footertop_inner>.center2::before{content: ""; width: 1px; height: 183px; background:#ddd; float: left; margin-right: 25px;}
#footer>.footertop>.footertop_inner>.center2>h1{font-size: 16px; padding: 0 10px 0 10px;}
#footer>.footertop>.footertop_inner>.center2>ul>li{margin: 9px 0 0 0;}
#footer>.footertop>.footertop_inner>.center2>ul>li>a{color: #777; font-size: 14px;}

#footer>.footertop>.footertop_inner>.left{width: 475px; height: 207px;float: left;}
#footer>.footertop>.footertop_inner>.left::before{content: ""; width: 1px; height: 183px; background: #ddd; float: left; margin-right: 25px;}
#footer>.footertop>.footertop_inner>.left>.number{padding: 15px;}
#footer>.footertop>.footertop_inner>.left>h1{font-size: 16px; padding: 0 10px 0 10px;}
#footer>.footertop>.footertop_inner>.left>.number>.tel{font-size: 27px;}
#footer>.footertop>.footertop_inner>.left>.number>p{font-size: 16px;}
#footer>.footertop>.footertop_inner>.left>ul>li{float: left; width: 130px; height: 24px;}
#footer>.footertop>.footertop_inner>.left>ul>li:nth-child(3){float: left; width: 170px; margin-left: 5px;}
#footer>.footertop>.footertop_inner>.left>ul>li:nth-child(6){float: left; width: 170px;margin-left: 5px;}
#footer>.footertop>.footertop_inner>.left>ul>li:nth-child(9){float: left; width: 170px;margin-left: 5px;}
#footer>.footertop>.footertop_inner>.left>ul>li:nth-child(2){float: left;margin-left: 5px;}
#footer>.footertop>.footertop_inner>.left>ul>li:nth-child(5){float: left;margin-left: 5px;}
#footer>.footertop>.footertop_inner>.left>ul>li:nth-child(8){float: left;margin-left: 5px;}
#footer>.footertop>.footertop_inner>.left>ul>li>a{color: #777; font-size: 14px;}

#footer>.footerbottom{width: 100%; height: 100px; border-top: #999 1px solid;}
#footer>.footerbottom>.footerbottom_inner{width: 1422px; height: 100px; margin: 0 auto;padding: 40px 0;}
#footer>.footerbottom>.footerbottom_inner>ul>li{float: left; margin-right: 15px; }
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(9){border: 1px solid #7f7f7f; padding: 0 33px 0 7px;width: 154px; height: 35px; position: relative;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(9)>a::after{content: "";width: 16px; height: 9px; background: url(../img/icon-arrow-toggle-16x9.png) no-repeat center center; float: right; position: absolute; top: 12px; right: 10px;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(10){border: 1px solid #ee137b; padding: 0 15px; width: 79px; height: 35px; position: relative;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(10)>a{padding-left: 20px;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(10)>a::after{content: ""; width: 21px; height: 18px; background: url(../img/icon-remote.png) no-repeat center center; float: left; position: absolute; top: 10px; left: 10px;}
#footer>.footerbottom>.footerbottom_inner>ul>li>a{font-size: 12px; color: #777;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(1)>a{color: #111;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(6)>a{color: #111;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(7)>a{color: #111;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(9)>a{line-height: 35px;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(10)>a{font-size: 13.333px; color: #ee137b; line-height: 35px;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(11)>a>img{width: 190px; height: 34px;}

#footer>.footerbottom>.footerbottom_inner>.icon>ul>li:nth-child(1)>a>img{position: fixed; bottom: 180px; right: 0;}
#footer>.footerbottom>.footerbottom_inner>.icon>ul>li:nth-child(2)>a>img{position: fixed; bottom: 120px; right: 0;}

#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(9){position: relative;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(9)>ul{display: none;position: absolute; top: -317px; left: -1px;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(9)>ul>li{background: #fff;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(9):hover>ul{width: 194px; height: 315px; border-right: 1px solid #7f7f7f; border-top: 1px solid #7f7f7f; border-left: 1px solid #7f7f7f; display: block;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(9):hover>ul>li{line-height: 33px;}
#footer>.footerbottom>.footerbottom_inner>ul>li:nth-child(9):hover>ul>li>a{padding: 0 0 0 7px; font-size: 14px; color: #111; letter-spacing: -1px;}
